.HOLMK
.hollogs
*.uo
*.ui
*.dat
*.aux
*.vo
*.d
*.glob
*.cmi
*.cmo
Makefile.coq
Makefile.coq.bak
Makefile.coq.conf
_build
regexp.v
accept.ml
accept.mli
matcher
matcher.native
.lia.cache
ottTheory.sig
ottTheory.sml
regexpScript.sml
regexpTheory.sig
regexpTheory.sml
